{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block content %}
<div class="row">
<div class="col-md-12">
<form method="post" role="form" class="form-horizontal" action="" id="upload_form" enctype="multipart/form-data">
 <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
  <div class="form-group">
    <h2 class="title">Carregar lista de usuários da ABTms</h2>
    <input class="btn btn-primary" type="submit" name="voters_api" value="Todos os associados"/>
    <input class="btn btn-primary" type="submit" name="voters_api" value="Associados adimplentes"/>
  </div>
  {% comment %} <div class="form-group">
  <h2 class="title">Carregar lista de usuários da ABTms</h2>
      <div class="checkbox">
        <label>
        <input type="checkbox" class="radio" value="1" name="associados" />Todos os associados</label>
      </div>
      <div class="checkbox">
        <label>
        <input type="checkbox" class="radio" value="2" name="associados" />Somente os associados adimplente</label>
      </div>
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="{% trans "go" %}" />
    <a class="btn btn-danger" href="{% url "election@view" election.uuid %}">{% trans "back to election" %}</a>
  </div> {% endcomment %}

  <div class="form-group">
  <h2 class="title">{% trans "Bulk Upload Voters" %} de arquvios CSV</h2>
  <h3 class="title">{{election.name}}</h3>
 <pre>
   {% trans "&lt;unique_id&gt;,&lt;email&gt,&lt;full name&gt;" %}
</pre>

<p>
{% trans "For example:" %}
  </p>
  <pre>
      benadida,ben@adida.net,Ben Adida
      bobsmith,bob@acme.org,Bob Smith
      ...
  </pre> 

  </div>
  {% if error %}
  <div style="color: red;">{{error}}</div>
  {% endif %}
   
    <div class="form-group">
    <input class="btn btn-primary" type="file" name="voters_file" value="{% trans "Browse" %}"/>
    <Br>
    <input class="btn btn-primary" type="submit" name="voters_api" value="Todos os associados"/>
    <input class="btn btn-primary" type="submit" name="voters_api" value="Associados adimplentes"/>Associados adimplentes

    
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{% trans "go" %}" />
        <a class="btn btn-danger" href="{% url "election@view" election.uuid %}">{% trans "back to election" %}</a>
    </div>
</form>

<div id="processing">
</div>

<div id="done" style="display:none;">
  {% trans "OK, done uploading." %}<br />
  {% trans "You can now" %} <a href="./manage">{% trans "view the list of voters" %}</a>.
</div>
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$("input:checkbox").on('click', function() {
  // in the handler, 'this' refers to the box clicked on
  var $box = $(this);
  if ($box.is(":checked")) {
    // the name of the box is retrieved using the .attr() method
    // as it is assumed and expected to be immutable
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
    // the checked state of the group/box on the other hand will change
    // and the current value is retrieved using .prop() method
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});
</script> {% endcomment %}

</div>
</div>
{% endblock %}
